@model GNG_v0._2.ViewModels.LoginViewModel
<!DOCTYPE html>
<html lang="en">

<body>
    <!-- sign in -->
    <div class="sign section--full-bg" data-bg="img/bg2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- authorization form -->
                        <form action="#" class="sign__form" method="post">
                            <a class="sign__logo">
                                <img src="~/img/GNG_Logo2.png" alt="">
                            </a>
                            <lable><p style="color:red;">@ViewBag.Title</p></lable>

                            <lable><p style="color:red;">@ViewBag.Message</p></lable>
                            <button class="sign__btn" type="submit" asp-action="signin">Sign in</button>
                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end sign in -->

</body>
</html>