@model GNG_v0._2.ViewModels.ForgotPasswordViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html lang="en">

<body>
    <!-- sign in -->
    <div class="sign section--full-bg" data-bg="img/bg2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- authorization form -->
                        <form action="#" class="sign__form">
                            <a href="index.html" class="sign__logo">
                                <img src="~/img/logo.svg" alt="">
                            </a>

                            <span class="sign__text">A link with password resetting instructions will be sent if you have accouunt registered before.</span>

                            <button class="sign__btn" type="submit" asp-action="Index" asp-controller="home">Confirm</button>
                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end sign in -->


</body>
</html>