@model GNG_v0._2.Models.User

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- sign in -->
    <div class="sign section--full-bg" data-bg="img/bg2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- registration form -->
                        <form action="#" class="sign__form" method="post">
                            <a class="sign__logo">
                                <img src="~/img/GNG_Logo2.png" alt="">
                            </a>
                            <lable><p style="color:red;">@ViewBag.Message</p></lable>
                            <div class="sign__group">
                                <input asp-for="Name" class="sign__input" placeholder="Full Name">
                                <span asp-validation-for="Name" class="text-danger" style="color:red;font-size:60%"></span>
                            </div>

                            <div class="sign__group">
                                <input asp-for="Email" class="sign__input" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger" style="color:red;font-size:60%"></span>
                            </div>

                            <div class="sign__group">
                                <input asp-for="Password" class="sign__input" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger" style="color:red;font-size:60%"></span>
                            </div>

                            <button class="sign__btn" type="submit">Sign up</button>

                            <span class="sign__text">Already have an account? <a href="Signin">Sign in!</a></span>
                        </form>
                        <!-- registration form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>