<!DOCTYPE html>
<html lang="en">

<body>

    <!-- home -->
    <section class="section section--bg section--first">

        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <div class="section__title-wrap">
                        <a href="~/Esports/Eximius">
                            <h2 class="section__title section__title--title"><b>Latest Event</b> Eximius x KBS x MDEC Tournament</h2>
                        </a>
                     
                    </div>
                </div>
                <!-- end title -->
            </div>
        </div>

        <div class="container">
            <div class="item active">
                <a href="~/Esports/Eximius">
                    <img src="~/img/esport/ExismiusPoster.png" style="width:100%;">
                </a>
            </div>
        </div>

    </section>
</body>
</html>